.notes-container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: row;
    padding: 10px 10px;
    width: 90%;
    height:90%;
  }
  
  .notes-textarea {
    width: 90%;
    height: 80%;
    padding: 20px;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: white;
    outline: none;
    resize: none;
  }
  
  .notes-textarea::placeholder {
    color: #aaa;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
  }