.results-container{
    font-family: "Pixelify Sans", sans-serif;
    padding:20px;
}

.section-title{
    text-align: left;
}

.passionresults-title{
    text-align: left;
    font-size:40px;
    font-weight:700;
    text-align: center;
}

.passions-list{
    display:flex;
    flex: 1;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.actions{
    display:flex;
    justify-content:center;
}

.actions-button{
    margin: 10px;
}

.recommendations-list{
    font-size: 17px;
    text-align: left;
}

.hobbies-name{
    font-size: 17px;
}

.hobbies-list{
    display: flex;
    flex: 1;
}

.addHobby-button{
    float: right;
}

.results-section{
    text-align: left;
}