@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');
:root {
    --stroke-radius: 10px; /* Define the radius variable */
    --neg-stroke-radius: -10px;
  }

.pixelify-sans-start {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Change this to 700 for bold */
    font-style: normal;
}

body{
    background-color: #E7C5F5;
}

.startpage-texts{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.startpage-title{
    text-align: center;
    font-size: 140px;
    color: #79428F; 
    margin-bottom: 5px;
    text-shadow:
    -10px -10px 0 white,
    0   -5px 0 white,
    5px -5px 0 white,
    5px  0   0 white,
    5px  5px 0 white,
    0    5px 0 white,
   -5px  5px 0 white,
   -5px  0   0 white;

}

.startpage-title:hover{
    transform: translateY(-5px);
}

.startpage-button{
    background-color: #79428F;
    border: #79428F 1px solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
    transition: all 0.3s ease;
    /*
    padding
    */
}

.startpage-button:hover{
    background-color: #79428F;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(73, 107, 255, 0.3);
}

.startpage-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.startpage-image{
    position: absolute;
    animation: upDown 1.5s ease-in-out infinite alternate;
}

.startpage-image:hover{
    animation: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}
@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

.owl{
    top: 30%; left: 2%;
    width: 300px;
}

.basketball{
    top: 15%; left: 35%;
    width: 200px;
}

.ballet{
    top: 65%; right: 35%;
}

.brush{
    top: 5%; right: 30%;
}

.camera{
    bottom: 15%; left: 30%;
}

.piano{
    bottom: 27%; right: 7%;
}

.bigstar1{
    top: 30%; right: 20%;
}

.smallstar1{
    top: 25%; right: 15%;
}

.bigstar2{
    bottom: 25%; left: 17%;
}

.smallstar2{
    bottom: 30%; left: 23%;
}