@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');
:root {
    --stroke-radius: 10px; /* Define the radius variable */
    --neg-stroke-radius: -10px;
  }

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Change this to 700 for bold */
    font-style: normal;
}

body{
    background-color: #E7C5F5;
}

.startpage-title{
    text-align: center;
    font-size: 75px;
    color: #79428F;
    margin: 10px; 
    text-shadow:
    -5px -5px 0 white,
    0   -5px 0 white,
    5px -5px 0 white,
    5px  0   0 white,
    5px  5px 0 white,
    0    5px 0 white,
   -5px  5px 0 white,
   -5px  0   0 white;

}

.start-button{
    background-color: #79428F;
    border: #79428F 1px solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    /*
    padding
    */
}

.startpage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

